<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <%= image_tag 'vitaaurabalance-logo.jpg' %>
    <div class="d-flex align-items-center ms-auto">
      <a class="nav-link active me-2" aria-current="page" href="#">Wunschliste</a>
      <a class="nav-link active me-2" aria-current="page" href="#">Über uns</a>
      <a class="nav-link active me-2" aria-current="page" href="#">Kontakt</a>
      <a class="nav-link active me-2" aria-current="page" href="#">Sonderwünsche</a>
      <div class="d-flex align-items-center ms-auto">
      <ul class="navbar-nav d-flex flex-row align-items-center mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-search"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-shopping-cart"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
        <li class="nav-item me-3">
          <%= link_to '<i class="fas fa-user"></i>'.html_safe, '#', class: 'nav-link' %>
        </li>
      </ul>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Home</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Haarschumck</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Patenspangen und Mini - Patentspangen
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Haarspange</a></li>
            <li><a class="dropdown-item" href="#">Patentspange aus Kunstharz & Textil</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown"> 
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Haarreifen und Haarbänder </a> 
          <ul class="dropdown-menu"> 
            <li><a class="dropdown-item" href="#">Haarreifen & Diamen aus Metall</a></li>
            <li><a class="dropdown-item" href="#">Haarreifen aus Kunstoffharz & Textil</a></li> 
            <li><a class="dropdown-item" href="#">Haargreifer / Wellenreifen und Strähnchenhalter</a></li> 
          </ul>
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#">Zopfgummis und Zopfrüschen</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Haarclips und Magneclips</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Klappspangen und Zopfhalter</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Accessories</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#"> Colliers, Ketten, Anhänger</a> 
        </li>
        <li class="nav-item"> 
          <a class="nav-link" href="#">Ringe</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Ohrclips, Ohrhaken, Ohrringe, Ohrstecker</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Armbänder, Armring</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Broschen</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Mode, Brille</a> 
        </li> 
        <li class="nav-item"> 
          <a class="nav-link" href="#">Tasche, Clutch</a> 
        </li> 
      </ul>
    </div> 
  </div> 
</nav>