<h1>AGB</h1>

<h4>Allgemeine Geschäftsbedingungen</h4>

<p>Vita-Aura-Balance</p>
<p> Frau Delia Curi<p>
<p>Auf'm Möhnert 9</p>
<p>59755 Arnberg<p>
<br/>

<p>Telefon: +49 2932 898883</p>
<p>WhatsApp: + 49 1633973826 *keine Anrufe, nur WhatsApp</p>
<p>Telefax: + 49 2932 941348</p>
<br/>

<p>E-mail-Adresse: info@vita-aura-balance.de</p>
<p> Ust-IdNr.: DE 223536033</p>
<br/>

<p>1. Geltungsbereich
Im Rahmen des Vita-Aura-Balance-Internet-Shops gelten die nachfolgenden Allgemeinen Geschäftsbedingungen (AGB) in der zum Zeitpunkt der Bestellung gültigen Fassung. Die AGB können von Ihnen für den Zweck der Online-Bestellung auf Ihrem Rechner abgespeichert und/oderausgedruckt werden.
</p>
<br/>

<p>2. Vertragsabschluss
(1) Alle unsere Angebote sind freibleibend.
(2) Ein Vertrag zwischen Vita-Aura-Balance und dem Besteller kommt durch die Annahme eines Angebots des Bestellers durch Vita-Aura-Balance zustande. Das Angebot des Bestellers erfolgt durch Übermittlung des vollständig ausgefüllten, durch Vita-Aura-Balance bereit gestellten Bestellformulars. Die Auftragsannahme durch die Firma Vita-Aura-Balance erfolgt durch Zusendung einer Bestätigung per E-Mail oder durch Lieferung der bestellten Ware. Das Angebot ist für den Besteller verbindlich, § 145 BGB. Vita-Aura-Balance ist nicht verpflichtet, Angebote des Bestellers anzunehmen und kann die Annahme jederzeit ohne Angabe von Gründen verweigern. In diesem Fall informiert Vita-Aura-Balance den Besteller unverzüglich über die Nichtannahme seines Auftrags per Email. Die Überprüfung der Bestätigung auf offensichtliche Schreib- und Rechenfehler sowie auf Abweichungen zwischen Bestellung, Bestätigung und Lieferung obliegt dem Bestellenden. Er ist weiterhin verpflichtet, eventuelle Unstimmigkeiten unverzüglich der Firma Vita-Aura-Balance mitzuteilen.</p>
<br/>

<p>3. Lieferung
(1) Die Firma Vita-Aura-Balance verpflichtet sich die bestellte Ware an die vom Kunden angegebene Adresse auszuliefern. Unser Geschenkservice bietet Ihnen außerdem an, das Paket an den Beschenkten und die Rechnung an den Besteller zu schicken.
(2) Für Lieferungen werden zusätzlich die jeweiligen auf der Website angegebenen Versandkosten in Rechnung gestellt.
(3) Lieferungen erfolgen in der Regel und ohne verbindliche Zusage innerhalb von fünf Werktagen (Lieferverzögerungen durch den Paketzusteller können wir leider nicht beeinflussen). Bei Vorauskasse richtet sich der Zeitpunkt der Versendung durch Vita-Aura-Balance und die Lieferzeit nach Ziffer 4.
(4) Sollten einmal nicht alle gewünschten Artikel auf Lager sein, sind Teillieferungen zulässig. Diese Nachlieferungen erfolgen portofrei. Sollte die von Ihnen bestellte Ware aufgrund nicht von Vita-Aura-Balance zu vertretender Umstände, insbesondere bei nicht rechtzeitiger Lieferung durch unsere Vertragspartner oder durch höhere Gewalt, bei uns nicht verfügbar sein, werden wir Sie darüber unverzüglich in Kenntnis setzen. Wir behalten uns in diesem Fall das Recht vor, uns vom Vertrag zu lösen und die bestellte Ware bei Nichtverfügbarkeit nicht zu liefern. Sollten Sie den Kaufpreis bereits entrichtet haben, so werden wir diesen selbstverständlich unverzüglich erstatten.
(5) Sie helfen uns, wenn Sie bei der Übernahme unserer Lieferungen durch das Transportunternehmen darauf achten, dass die Pakete weder geöffnet, beschädigt noch in sonstiger Weise manipuliert wurden. Ist dies dennoch der Fall, bitten wir Sie höflich, dies auf dem Übergabeprotokoll des Lieferanten des Transportunternehmens schriftlich festzuhalten. Sollten Sie eine vorherige Öffnung, Beschädigung oder sonstige
Manipulation Ihres Pakets erst nach der Übergabe feststellen, bitten wir Sie ebenfalls höflich, dies unverzüglich bei dem betreffenden Transportunternehmen zu reklamieren. Ihre gesetzlichen Ansprüche bleiben jedoch auch erhalten, wenn Sie diese Reklamation gegenüber dem Transportunternehmen nicht durchführen.</p>