<h1>AGB</h1>

<h4>Allgemeine Geschäftsbedingungen</h4>

<p>Vita-Aura-Balance</p>
<p> Frau Delia Curi<p>
<p>Auf'm Möhnert 9</p>
<p>59755 Arnberg<p>
<br/>

<p>Telefon: +49 2932 898883</p>
<p>WhatsApp: + 49 1633973826 *keine Anrufe, nur WhatsApp<p>
<p>Telefax: + 49 2932 941348</p>
<br/>

<p>E-mail-Adresse: info@vita-aura-balance.de</p>
<p> Ust-IdNr.: DE 223536033</p>
<br/>

<p>1. Geltungsbereich
Im Rahmen des Vita-Aura-Balance-Internet-Shops gelten die nachfolgenden Allgemeinen Geschäftsbedingungen (AGB) in der zum Zeitpunkt der Bestellung gültigen Fassung. Die AGB können von Ihnen für den Zweck der Online-Bestellung auf Ihrem Rechner abgespeichert und/oderausgedruckt werden.
</p>
<br/>

<p>2. Vertragsabschluss
(1) Alle unsere Angebote sind freibleibend.
(2) Ein Vertrag zwischen Vita-Aura-Balance und dem Besteller kommt durch die Annahme eines Angebots des Bestellers durch Vita-Aura-Balance zustande. Das Angebot des Bestellers erfolgt durch Übermittlung des vollständig ausgefüllten, durch Vita-Aura-Balance bereit gestellten Bestellformulars. Die Auftragsannahme durch die Firma Vita-Aura-Balance erfolgt durch Zusendung einer Bestätigung per E-Mail oder durch Lieferung der bestellten Ware. Das Angebot ist für den Besteller verbindlich, § 145 BGB. Vita-Aura-Balance ist nicht verpflichtet, Angebote des Bestellers anzunehmen und kann die Annahme jederzeit ohne Angabe von Gründen verweigern. In diesem Fall informiert Vita-Aura-Balance den Besteller unverzüglich über die Nichtannahme seines Auftrags per Email. Die Überprüfung der Bestätigung auf offensichtliche Schreib- und Rechenfehler sowie auf Abweichungen zwischen Bestellung, Bestätigung und Lieferung obliegt dem Bestellenden. Er ist weiterhin verpflichtet, eventuelle Unstimmigkeiten unverzüglich der Firma Vita-Aura-Balance mitzuteilen.</p>
<br/>

<p>3. Lieferung
(1) Die Firma Vita-Aura-Balance verpflichtet sich die bestellte Ware an die vom Kunden angegebene Adresse auszuliefern. Unser Geschenkservice bietet Ihnen außerdem an, das Paket an den Beschenkten und die Rechnung an den Besteller zu schicken.
(2) Für Lieferungen werden zusätzlich die jeweiligen auf der Website angegebenen Versandkosten in Rechnung gestellt.
(3) Lieferungen erfolgen in der Regel und ohne verbindliche Zusage innerhalb von fünf Werktagen (Lieferverzögerungen durch den Paketzusteller können wir leider nicht beeinflussen). Bei Vorauskasse richtet sich der Zeitpunkt der Versendung durch Vita-Aura-Balance und die Lieferzeit nach Ziffer 4.
(4) Sollten einmal nicht alle gewünschten Artikel auf Lager sein, sind Teillieferungen zulässig. Diese Nachlieferungen erfolgen portofrei. Sollte die von Ihnen bestellte Ware aufgrund nicht von Vita-Aura-Balance zu vertretender Umstände, insbesondere bei nicht rechtzeitiger Lieferung durch unsere Vertragspartner oder durch höhere Gewalt, bei uns nicht verfügbar sein, werden wir Sie darüber unverzüglich in Kenntnis setzen. Wir behalten uns in diesem Fall das Recht vor, uns vom Vertrag zu lösen und die bestellte Ware bei Nichtverfügbarkeit nicht zu liefern. Sollten Sie den Kaufpreis bereits entrichtet haben, so werden wir diesen selbstverständlich unverzüglich erstatten.
(5) Sie helfen uns, wenn Sie bei der Übernahme unserer Lieferungen durch das Transportunternehmen darauf achten, dass die Pakete weder geöffnet, beschädigt noch in sonstiger Weise manipuliert wurden. Ist dies dennoch der Fall, bitten wir Sie höflich, dies auf dem Übergabeprotokoll des Lieferanten des Transportunternehmens schriftlich festzuhalten. Sollten Sie eine vorherige Öffnung, Beschädigung oder sonstige
Manipulation Ihres Pakets erst nach der Übergabe feststellen, bitten wir Sie ebenfalls höflich, dies unverzüglich bei dem betreffenden Transportunternehmen zu reklamieren. Ihre gesetzlichen Ansprüche bleiben jedoch auch erhalten, wenn Sie diese Reklamation gegenüber dem Transportunternehmen nicht durchführen.</p>

<p>4. Widerrufsbelehrung - Widerrufsrecht und Rücksendung der Ware
(1) Wenn der Käufer ein Unternehmer (vgl. Ziffer 1.2 unserer AGB) im Sinne des § 14 Bürgerlichen Gesetzbuches (BGB) ist, besteht kein Widerrufsrecht.
(2) Für Verbraucher (jede natürliche Person ist, die ein Rechtsgeschäft zu einem Zwecke abschließt, der weder ihrer gewerblichen noch ihrer selbständigen beruflichen Tätigkeit zugerechnet werden kann) gilt:Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen. Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses. Um Ihr Widerrufsrecht auszuüben, müssen Sie uns Firma Vita-Aura-Balance, Auf´m Möhnert 9, 59755 Arnsberg, Email: info@vita-aura-balance.de. mittels einer eindeutigen Erklärung (z.B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen, informieren. Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet. Haben Sie verlangt, dass die Dienstleistungen während der Widerrufsfrist beginnen soll, so haben Sie uns einen angemessenen Betrag zu zahlen, der dem Anteil der bis zu dem Zeitpunkt, zu dem Sie uns von der Ausübung des Widerrufsrechts hinsichtlich dieses Vertrags unterrichten, bereits erbrachten Dienstleistungen im Vergleich zum Gesamtumfang der im Vertrag vorgesehenen Dienstleistungen entspricht.
(3) Die Kosten des Rückversandes trägt grundsätzlich der Kunde.
(4) Ausschluss des Widerrufsrechtes
Das Widerrufsrecht besteht im Sinne § 312d IV BGB unter anderem nicht bei Fernabsatzverträgen zur Lieferung von Waren, die nach Kundenspezifikation angefertigt werden oder eindeutig auf die persönlichen Bedürfnisse zugeschnitten sind, oder die aufgrund ihrer Beschaffenheit nicht für eine Rücksendung geeignet sind oder schnell verderben können oder deren Verfalldatum durch die Rücksendung überschritten würde.</p>
<br/>

<p>5. Zahlungsbedingungen und Versandkosten
(1) Die im Internet genannten Preise enthalten die gesetzliche Mehrwertsteuer Deutschlands und gelten bis zum Erscheinen einer neuen Preisliste.
Für unsere Schweizer Kunden wird am Ende der Bestellung die Mehrwertsteuer abgegolten. Preiserhöhungen nach Vertragsabschluss sind ausgeschlossen.
(2) Innerhalb Deutschlands beträgt der Mindestbestellwert 30,00 €.
Der Mindestbestellwert für EU-Länder beträgt 70,00 €.
Wir erheben innerhalb Deutschlands eine Versandkostenpauschale von 5,50 € pro Bestellung.
Für die Lieferung in EU-Länder außerhalb Deutschlands fällt immer eine Porto-Pauschale in Höhe von 19,99 € an.
Für die Lieferung ins Nicht-EU-Ausland (Schweiz, ...) fällt immer eine Porto-Pauschale in Höhe von 24,99 € an.
(3) Die Zahlung erfolgt durch eine auf dem Online-Bestellformular angebotene Zahlungsweise, d.h. Via Pay Pal oder per Vorauskasse (Überweisung). Wir behalten uns vor, aus technischen Gründen einzelne Zahlungsarten zeitweise abzuschalten. Bitte beachten Sie, dass bei Zahlungen durch Vorkasse der Warenversand erst durchgeführt werden kann, wenn die Bezahlung auf dem Konto der Firma Vita-Aura-Balance
eingegangen ist.</p>
<br/>

<p>6. Eigentumsvorbehalt
Bis zur vollständigen Bezahlung bleibt die Ware unser Eigentum.</p>
</br/>

<p>7. Mängelansprüche und Haftung
(1) Es gelten die gesetzlichen Mängelgewährleistungsrechte.
(2) Für Mängelrügen durch Kaufleute gelten die gesetzlichen Bestimmungen des Handelsgesetzbuches.
(3) Der Käufer ist verpflichtet, dem Verkäufer die mangelhafte Ware zuzusenden.
(4) Keine Gewährleistungspflicht besteht für Schäden durch normale Abnutzung sowie unsachgemäße Handhabung. Bei Rücksendung zu Recht beanstandeter Ware trägt der Verkäufer die Transportgefahr sowie die Kosten der Rücksendung. Die erneute Zustellung der Ware erfolgt ebenfalls auf Gefahr und Kosten des Verkäufers. Es gelten die oben genannten Lieferbedingungen.
(5) Wir haften ausschließlich für verschuldete Schäden bei der Verletzung wesentlicher vertraglicher Hauptpflichten (Kardinalpflichten) soweit die Haftung nicht nach § 8 (6) besteht. Eine weitergehende Haftung ergibt sich nur aus dem Produkthaftungsgesetz oder durch vorsätzliches oder grob fahrlässiges Verhalten durch den Verkäufer bzw. dessen Erfüllungsgehilfen.
(6) Eine gesetzlich vorgeschriebene verschuldensunabhängige Haftung von Vita-Aura-Balance bleibt von den vorstehenden Haftungseinschränkungen unberührt. Gleiches gilt bei schuldhafter Verletzung von Leben, Körper oder Gesundheit sowie bei Geltendmachung von Ansprüchen nach §§ 1, 4 Produkthaftungsgesetz.</p>
<br/>

<p>8. Anwendbares Recht
Es gilt deutsches Recht unter Ausschluss des UN-Kaufrechts (CISG). Gerichtsstand ist soweit der Käufer einer Gerichtsstandvereinbarung zugänglich ist, das Gericht am Sitz des Verkäufers.</p>
<br/>

<p>9. Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit. Die Plattform finden Sie unter http://ec.europa.eu/consumers/odr/ - unsere e-Mail-Adresse: info@vita-aura-balance.de</p>
<br/>

<p>10. Datenschutz
Personenbezogene Daten werden vertraulich behandelt und ausschließlich im Rahmen der geltenden Datenschutzgesetze genutzt und verarbeitet.</p>
<br/>

<p>Widerrufsformular</p>
<br/>
 es zurück.)
<p>(Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie  es zurück.)</p>
<br/>

<p>An :</p>
<p>Fima Vita-Aura-Balance</p>
<p>Auf'm Möhnrt 9</p>
<p>59755<p>
<p>Email: info@vita-aura-balance.de</p>
<br/>


<p>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/die Erbringung der folgenden Dienstleistung (*):</p>
<br/>

<p>Bestellt am (*)/erhalten am (*): __________________________________________ </p>
<br/>

<p>Name des/der Verbraucher(s): _________________________________________<p>
	<br/>

<p>Anschrift: ________________________________________________________________________</p>
