<div id="carouselExampleSlideOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="catousel-item active">
            <%=image_tag "Slide1", class: 'd-block w-100', alt: "Slide1" %>
        </div>
        <div class="carousel-item">
            <%= image_tag "Slide2", class: 'd-block w-100', alt:"Slide2" %>
        </div>
        <div class="carousel-item">
            <%= image_tag "Slide3", class: 'd-block w-100', alt: "Slide3" %>
        </div>
    </div>
</div>









